body {
  position: relative;
}
.main-section-form-box {
  border-radius: 10px;
}
p {
  font-size: smaller;
}
#overlay-bitcoin-symbol {
  width: 15px;
  height: 20px;
  margin-bottom: 10px;
  margin-right: -8px;
}
#bitcoin-symbol {
  width: 15px;
  height: 20px;
  margin-top: 2px;
}
#dollar-icon {
  width: 15px;
  height: auto;
  margin-right: 5px;
}

/* ---------------------- */
/* Start: Overlay Styling */
#flight-detail-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 2;
  box-shadow: -3px 0px 10px 2px rgba(0, 0, 0, 0.2);
  animation-name: slidein;
  animation-duration: 1s;
}
@keyframes slidein {
  from {
    right: -500px;
  }
  to {
    right: 0;
  }
}
/* Overlay close */
.overlay-close {
  position: relative;
  right: 0px;
  top: 0px;
  width: 30px;
  height: 30px;
  opacity: 0.3;
  border-radius: 50px;
}
.overlay-close:hover {
  opacity: 1;
  cursor: pointer;
  background-color: lightblue;
  background-image: radial-gradient(
    rgba(173, 214, 230, 0.4),
    rgba(173, 214, 230, 0.6),
    white
  );
}
.overlay-close:before,
.overlay-close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 30px;
  width: 2px;
  background-color: blue;
}
.overlay-close:before {
  transform: rotate(45deg);
}
.overlay-close:after {
  transform: rotate(-45deg);
}
/* End: Overlay styling */
/* -------------------- */

.main-image-container {
  position: relative;
}

.no-line-anchor {
  text-decoration: none;
}
.on-the-move-link {
  cursor: pointer;
}
.main-section-form-box-tabs a {
  text-decoration: none;
  color: black;
}
.main-section-form-box-tabs .link-inactive:hover {
  transition: ease-in;
  border-bottom: 2px solid black;
}
.main-section-form-box-tabs .link-active {
  color: blue;
  border-bottom: 2px solid blue;
}
.select-flight-details-wrapper {
  border: none;
  background-color: white;
}
.listview-flight-details:hover {
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.main-img-overlay-box {
  font-weight: 200;
  width: 200px;
  color: white;
  position: absolute;
  top: 500px;
  left: 600px;
  display: block;
}

.flight-selected {
  border: 1px solid black;
  border-radius: 10px;
}

/* @media only screen and (min-width: 320px) and (max-width: 576px)  */
@media screen and (max-width: 539px) {
  .main-img-overlay-box {
    display: none;
  }
  .search-result-filters {
    display: none;
  }
}
@media screen and (min-width: 540px) and (max-width: 719px) {
  .main-img-overlay-box {
    width: 180px;
    top: 700px;
    left: 200px;
  }
  .main-img-overlay-box p {
    display: none;
  }
  .search-result-filters {
    display: none;
  }
}
@media screen and (min-width: 720px) and (max-width: 959px) {
  .main-img-overlay-box {
    top: 700px;
    left: 200px;
  }
  .main-img-overlay-box p {
    display: none;
  }
  #flight-detail-overlay {
    width: 70%;
  }
}
@media screen and (min-width: 960px) and (max-width: 990px) {
  .main-img-overlay-box {
    top: 700px;
    left: 400px;
  }
  .main-img-overlay-box p {
    display: block;
  }
  #flight-detail-overlay {
    width: 50%;
  }
}
@media screen and (min-width: 991px) and (max-width: 1139px) {
  .main-img-overlay-box {
    top: 500px;
    left: 400px;
  }
  #flight-detail-overlay {
    width: 45%;
  }
}
@media screen and (min-width: 1140px) {
  .main-img-overlay-box {
    top: 500px;
    left: 400px;
  }
  #flight-detail-overlay {
    width: 40%;
  }
}
